<div class="container"></div>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <table border="1">
        <thead>

          <h3 class="text-center"><%= @book.name %>の詳細ページ</h3>
        </thead>
<br>
        <tbody>
          <tr>
            <th>本のタイトル</th>
            <td><%= @book.name %></td>
          </tr>
          <tr>
            <th>本の感想</th>
            <td><%= simple_format(@book.body) %></td>
          </tr>
          <tr>
            <th>本の写真</th>
            <!--<td><!%= attachment_image_tag @book, :book_image, :fill, 300, 300 %></td>-->
            <td>
            <% if @book.book_image.present? %>
              <%= attachment_image_tag @book, :book_image, size: "200x200" %>
            <% else %>
              <%= image_tag "no_image.jpg", size: "200x200" %>
            <% end %>
            </td>
          </tr>
          <tr>
            <% if @book.user == current_user %>
            <td><%= link_to "編集", edit_book_path(@book) %></td>
            <% end %>
            <td>
            <% if @book.favorited_by?(current_user) %>
              <%= link_to book_favorite_path(@book), method: :delete do %>
              ♥<%= @book.favorites.count %>いいね
              <% end %>
            <% else %>
              <%= link_to book_favorites_path(@book), method: :post do %>
                ♡<%= @book.favorites.count %>いいね
              <% end %>
            <% end %>
            </td>
          </tr>
          <%= form_with model: [@book, @book_comment], local: true do |f| %>
          <tr>
            <td colspan="2">
              <%= f.text_area :comment %>
              <%= f.submit "送信する" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
<br>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <table border="1">
        <thead>
          <tr>
            <td>user名</td>
            <td>コメント</td>
          </tr>
        </thead>
        <% @book.book_comments.each do |book_comment| %>
        <tbody>
          <tr>
            <td>
              <%= book_comment.user.name %>
              <% if book_comment.user == current_user %>
                <%= link_to "削除", book_book_comment_path(@book, book_comment), method: :delete, local: true %>
              <% end %>
            </td>
            <td><%= book_comment.comment %></td>
          </td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
<br>

    </div>
  </div>
</div>