<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-1 text-center">
      <table border="1">
        <thead>
<br><br>
          <h3 class="text-center"><%= @book.name %>の詳細ページ</h3>
<br>
          <tr>
          <% if @book.user == current_user %>
            <td style="background-color:white;"><%= link_to "編集する", edit_book_path(@book) %></td>
          <% end %>
          </tr>
        </thead>
<br>
        <tbody>
          <tr>
            <th>本の写真</th>
            <td>
            <% if @book.book_image.present? %>
              <%= attachment_image_tag @book, :book_image, size: "200x200" %>
            <% else %>
              <%= image_tag "no_image.jpg", size: "200x200" %>
            <% end %>
            </td>
          </tr>
          <tr>
            <th>本のタイトル</th>
            <td><%= @book.name %></td>
          </tr>
          <tr>
            <th>本の感想</th>
            <td><%= simple_format(@book.body) %></td>
          </tr>
          <tr>
            <th>いいね数</th>
            <td>
            <% if @book.favorited_by?(current_user) %>
              <%= link_to book_favorite_path(@book), method: :delete do %>
              ♥<%= @book.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to book_favorites_path(@book), method: :post do %>
                ♡<%= @book.favorites.count %>
              <% end %>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <%# table内にform_withを置くとsubmitが反応しないので、コメント部分のみ別table内にて作成 %>
      <%= form_with model: [@book, @book_comment], local: true do |f| %>
      <table border="1" style="border-top: none;">
        <tbody>
          <th>コメント</th>
          <td colspan="2">
            <%= f.text_area :comment %>
            <%= f.submit "送信する" %>
          </td>
        </tbody>
      </table>
      <% end %>

<br><br>
  <div class="row">
    <div class="col-md-12 col-md-offset-1 text-center">
      <table border="1">
        <thead>
          <tr>
            <td>user名</td>
            <td>コメント</td>
          </tr>
        </thead>
        <% if @book.book_comments.empty? %>
        <tbody>
          <tr>
            <td colspan="2">コメントは投稿されていません</td>
          </tr>
        </body>
        <% else %>
        <% @book.book_comments.each do |book_comment| %>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(book_comment.user) do %>
                <%= book_comment.user.name %>
              <% end %>
            </td>
            <td>
              <%= book_comment.comment %>
              <% if book_comment.user == current_user %>
                <%= link_to "削除", book_book_comment_path(@book, book_comment), method: :delete %>
              <% end %>
            </td>
          </td>
        </tbody>
        <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>