<%= form_with model: @user, url: admin_user_path(@user), local:true do |f| %>
<div>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.text_field :introduction %>
</div>
<div>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.submit "更新" %>
</div>
<% end %>