<% if signed_in? %>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "マイページ", user_path(current_user), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "感想一覧", books_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
<% else %>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "トップページ", root_path, class: "nav-link" %></a>
      </li>
      <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "管理者ログイン", new_admin_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
<% end %>